@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Coda&display=swap");

/* start navigation */
.page-header .menu .navbar {
	border-bottom: 1px #778899;
	box-shadow: 2px 5px 18px #888888;
}

.page-header .menu .navbar .navbar-brand {
	padding: 0 32px 0 80px;
	font-family: "Russo One", "Courier New", Courier, monospace;
}

.page-header .menu .navbar {
	padding: 16px 320px;
}

.page-header .menu .navbar .navbar-brand {
	font-size: 45px;
	text-transform: uppercase;
	font-weight: 900;
}

.page-header .menu .nav-item .nav-link {
	font-family: "Coda", "Courier New", Courier, monospace;
	font-weight: 400;
	padding: 16px;
	color: #2f4f4f;
}

.page-header .menu .navbar-nav .active a {
	background: #ff0000;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
}

.page-header .menu .navbar-nav a:hover {
	background: #ff0000;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
}

/* end navigation */

/* start page top area */

.page-main .page-top {
	background: url(/SpaceStation/img/background.png);
	background-position: 0% 50%;
	padding: 75px 320px 85px 320px;
}

.page-main .page-top .page-title h4 {
	padding-top: 35%;
	font-size: 25px;
	font-family: "Russo One", "Courier New", Courier, monospace;
}

.page-main .page-top .page-title h1 {
	font-size: 75px;
	color: #ff0000;
	font-family: "Russo One", "Courier New", Courier, monospace;
}

.page-main .page-top .page-title h1::after {
	content: "";
	height: 2px;
	width: 10vw;
	background: #ff0000;
	display: inline-block;
}

.page-main .page-top .page-title h3 {
	font-size: 35px;
	font-weight: 700; /*download this font so it works fw 500*/
	font-family: "Russo One", "Courier New", Courier, monospace;
}

.page-main .page-top .banner-image > img {
	padding-top: 75px;
	padding-left: 80px;
}

.title-text {
	font-style: normal;
	font-weight: bold;
	line-height: 69px;
	font-family: "Coda", "Courier New", Courier, monospace;
}

.space-icon {
	padding: 0px 0px;
	font-size: 45px;
}

/* end page top area */

/* Start About section*/

.page-main .about-section {
	background: url(/SpaceStation/img/background.png);
	padding: 100px 75px;
}

.page-main .about-section .about-text h2 > span {
	display: block;
	font-weight: 800;
	font-size: 30px;
	line-height: 30px;
	font-family: "Russo One", "Courier New", Courier, monospace;
	letter-spacing: 17px;
	padding-top: 0;
}

.page-main .about-section .about-text .about-information {
	font-family: "Coda", "Courier New", Courier, monospace;
}

/* End About section*/

/* Start ISS-Map section*/

.page-main .RT-section {
	background: url(/SpaceStation/img/background.png);
	padding: 125px 0;
}

.page-main .RT-section .map {
	padding: 15px 0;
}

.page-main .RT-section .map h1 {
	font-family: "Russo One", "Courier New", Courier, monospace;
	font-weight: 800;
	font-size: 30px;
	letter-spacing: 21px;
}

.page-main .RT-section .quotes-title {
	padding-top: 55px;
	padding-left: 125px;
}

.page-main .RT-section .quotes-title p {
	font-family: "Russo One", "Courier New", Courier, monospace;
	font-weight: 700;
	font-size: 25px;
	letter-spacing: 10px;
}

.page-main .RT-section .quotes-title p span {
	letter-spacing: 10px;
	text-decoration: underline;
	text-decoration-color: #ff0000;
}

#iss-map {
	height: 480px;
	width: 800px;
}

/* End ISS-Map section*/

/* Start Gallery section*/

.page-main .gallery-section {
	background: url(/SpaceStation/img/background.png);
	padding: 125px 0;
}

.page-main .gallery-section .gallery-title {
	font-family: "Russo One", "Courier New", Courier, monospace;
	line-height: 15px;
	font-weight: 800;
	font-size: 75px;
	letter-spacing: 15px;
}

.page-main .gallery-section .gallery-item {
	padding: 10px 0 45px 0;
}

.page-main .gallery-section .gallery-item .gallery-item-3 {
	padding-left: 10;
	margin-left: 0;
}

.page-main .gallery-section .gallery-item .pictures {
	padding: 10px 10px 55px 10px;
	border: 1px solid #bfbfbf;
	background-color: #f8f8ff;
	box-shadow: 5px 5px 2.5px #aaaaaa;
	margin: 15px 15px;
}

.page-main .gallery-section .grid .pictures a:hover img {
	filter: brightness(1.2) drop-shadow(1px 8px 30px #778899);
}

/* End Gallery section*/

/* Start Quotes section*/

.page-main .quotes-section {
	background: url(/SpaceStation/img/background.png);
}

.page-main .quotes-section .quote-header {
	padding: 150px 75px 25px 50px;
}

.page-main .quotes-section .quotes-title h1 {
	font-family: "Russo One", "Courier New", Courier, monospace;
	line-height: 15px;
	font-weight: 800;
	font-size: 35px;
	letter-spacing: 15px;
}

.page-main .quotes-section .quotes-title h1 > span {
	font-size: 45px;
	color: #ff0000;
}

.page-main .quotes-section .quotes-title p {
	padding-top: 50px;
	font-family: "Mulish", "Courier New", Courier, monospace;
}

.page-main .quotes-section .astronaut {
	border: 1px solid #bfbfbf;
	background-color: #f8f8ff;
	box-shadow: 5px 5px 2.5px #aaaaaa;
	margin: 45px 0;
}

/*
.page-main .quotes-section .astronaut div:hover{
    filter: brightness(1.1)drop-shadow(1px 8px 30px #778899);
}
*/

.page-main .quotes-section .astronaut .astronaut-img {
	padding: 30px;
}

.page-main .quotes-section .astronaut .astronaut-quote {
	padding-top: 30px;
}

.page-main .quotes-section .owl-carousel .owl-item {
	display: flex;
	justify-content: center;
	padding: 0 20px;
}

/* End Quotes section*/

/* Start Footer section */

footer.footer-section {
	padding: 75px 0;
	font-family: "Russo One", "Courier New", Courier, monospace;
	background: url(/SpaceStation/img/background.png);
}

footer.footer-section .iss-logo {
	padding: 40px 0;
}

footer.footer-section .social-media a > i {
	font-size: 25px;
	padding: 30px;
	color: #696969;
}

footer.footer-section .social-media .facebook:hover > i {
	color: #0000ff;
}

footer.footer-section .social-media .instagram:hover > i {
	color: #ff69b4;
}

footer.footer-section .social-media .youtube:hover > i {
	color: #ff0000;
}

/* End Footer section */
