@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

/* start navigation */
.page-header .menu .navbar {
    border-bottom: 1px #778899;
    box-shadow: 2px 5px 18px #888888;
}

.page-header .menu .navbar .navbar-brand{
    padding: 0 2rem 0 5rem; 
} 

.page-header .menu .navbar{
    padding: 1rem 20rem;
}

.page-header .menu .nav-item .nav-link{
    font-family: "Mulish", 'Courier New', Courier, monospace;
    font-weight: 400;
    padding: 1rem;
    color: darkslategray;
}

.page-header .menu .navbar-nav .active a{
    background: #F08080;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.page-header .menu .navbar-nav a:hover{
    background: #F08080;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.navbar-brand{
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 900;
}
/* end navigation */

/* start page top area */

.page-main .page-top  {
    background: url(/SpaceStation/img/background.png); /*add white background*/
    background-position: 0% 50%;
    padding: 75px 320px 85px 320px; 
}

.page-main .page-top .page-title h4 {
    padding-top: 35%;
    font-size: 25px; 
}

.page-main .page-top .page-title h1 {
    font-size: 75px;
    color: red;
}

.page-main .page-top .page-title h3 {
    font-size: 35px;
    font-weight: 700; /*download this font so it works fw 500*/
}

.page-main .page-top .banner-image > img {
    padding-top: 75px;
    padding-left: 80px;
}

.title-text {
    font-style: normal;
    font-weight: bold;
    line-height: 69px;
    font-family: "Mulish", 'Courier New', Courier, monospace;
}

.space-icon {
    padding: 0px 0px;
    font-size: 45px;
}

/* end page top area */

/* Start About section*/

.page-main .about-section {
    background: url(/SpaceStation/img/background.png);
    padding: 100px 75px;
}

.page-main .about-section .about-text h2 > span{
    display: block;
    font-weight: 800;
    font-size: 35px;
    line-height: 35px;
    font-family: "Mulish", 'Courier New', Courier, monospace;
    letter-spacing: 21px;
    padding-top: 0;
}


/* End About section*/

/* Start ISS-Map section*/

.page-main .RT-section {
    background: url(/SpaceStation/img/background.png);
    padding: 150px 0;
}
#iss-map {
    height: 350px;
    width: 550px;
}

/*.map {
    display: table-cell;
    padding: 30px 0px 30px 320px;
    float: none; 
}*/

/* End ISS-Map section*/

/* Start Gallery section*/

.page-main .gallery-section {
    background: url(/SpaceStation/img/background.png);
    padding: 125px 0;
}

.gallery-item {
    padding: 10px 0;
}

.page-main .gallery-section .grid .img-description h4 {
    font-weight: 800;
    font-size: 25px;
    line-height: 12px;
    font-family: "Mulish", 'Courier New', Courier, monospace;

} 

.page-main .gallery-section .grid .pictures a:hover img{
    filter: brightness(1.3)drop-shadow(1px 8px 30px #778899);
}

/* End Gallery section*/

/* Start Quotes section*/

.page-main .quotes-section {
    background: url(/SpaceStation/img/background.png);
}

.page-main .quotes-section .quotes-title {
    padding: 100px 75px 25px 75px;
}

.page-main .quotes-section .quotes-title h1{
    line-height: 50px;
    letter-spacing: 21px;
    font-size: 35px;
    font-weight: 800;
    
}

.page-main .quotes-section .quotes-title h1 span{
    font-size: 45px;
    text-decoration: underline;
    text-decoration-color: red;
}

.page-main .quotes-section .quotes-title p{
    padding-top: 35px;
}

.page-main .quotes-section .astronaut {
    border: 1px solid #BFBFBF;
    background-color: white;
    box-shadow: 5px 5px 2.5px #aaaaaa;
    margin: 45px 0;
}

/*
.page-main .quotes-section .astronaut div:hover{
    filter: brightness(1.1)drop-shadow(1px 8px 30px #778899);
}
*/

.page-main .quotes-section .astronaut .astronaut-img {
    padding: 30px;
}

.page-main .quotes-section .astronaut .astronaut-quote{
    padding-top: 30px;
}

.page-main .quotes-section .owl-carousel .owl-item {
    display: flex;
    justify-content: center;
    padding: 0 20px;
}

/* styling for dot .about-section
.page-main .quotes-section .owl-carousel .owl-dots .owl-dot.active span {
    background: darkslategray;
    height: 15px;
    width: 15px;

}

*/ 

/* End Quotes section*/

/* Start Footer section */

footer.footer-section {
    padding: 75px 0;
}

footer.footer-section .social-media a > i {
    font-size: 25px;
    padding: 30px;
    color: dimgrey;
}

footer.footer-section .social-media .facebook:hover > i  {
    color: blue;
}

footer.footer-section .social-media .instagram:hover > i  {
    color: deeppink;
}

footer.footer-section .social-media .youtube:hover > i  {
    color: red;
}



/* End Footer section */